* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

/*-------------------------------------------------------IGUAL EN TODOS--------------------------------------*/
h1 {
  font-family: 'Kalam', cursive; }

nav img {
  border-radius: 10px; }

.bg-light {
  font-family: 'Kalam', cursive; }

.d-flex i {
  color: black;
  font-size: 20px; }
  .d-flex i:hover {
    color: #868686; }

a {
  text-decoration: none;
  color: #0f0f0f; }

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #6a6a6a; }

.card-index {
  width: 100%;
  margin: 40px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }
  .card-index:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
  .card-index img {
    width: 100%;
    height: 100%; }
  .card-index .contenido {
    padding: 15px;
    text-align: center; }
    .card-index .contenido p {
      line-height: 1.5;
      color: #6a6a6a;
      padding: 10px; }
    .card-index .contenido a {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      margin-top: 10px;
      color: #2fb4cc;
      border: 1px solid #2fb4cc;
      border-radius: 4px;
      transition: all 400ms ease; }
      .card-index .contenido a:hover {
        background: #2fb4cc;
        color: #fff; }

.metodos-pago {
  background-color: #c4c0c0;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 50px; }
  .metodos-pago h3 {
    display: flex;
    justify-content: center; }
  .metodos-pago p {
    display: flex;
    justify-content: center;
    max-width: 400px; }
  .metodos-pago i {
    font-size: 60px;
    display: flex;
    justify-content: center; }

.titulito {
  background-color: #d6d3d3;
  display: flex;
  justify-content: center; }

.cabecera {
  background-color: #ece9e9;
  padding: 15px;
  height: 450px;
  width: 100%; }

.texto {
  display: flex;
  justify-content: center; }
  .texto p {
    font-size: 20px;
    max-width: 500px; }
  .texto img {
    max-width: 500px; }

.estrenos {
  background-color: #ece9e9;
  display: block;
  width: 100%;
  height: 400px; }

.main-container {
  width: 100%;
  max-width: 1000px;
  padding-bottom: 50px;
  margin: auto;
  margin-top: -50px; }

.table {
  background-color: #fff;
  border: 1px solid #949393;
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed; }
  .table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px; }
  .table tr {
    background-color: #e6e1e1;
    border: 1px solid #9b9a9a; }
  .table th {
    font-size: 16px;
    padding: 8px;
    text-align: center; }
  .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center; }
  .table thead th {
    background-color: #c9c9c9;
    text-transform: uppercase; }
  .table tbody td:hover {
    background-color: #0000004d; }

.gridContainerFormulario {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: "Formulario"; }
  .gridContainerFormulario .sectionFormulario {
    background-color: #e7e0e0;
    height: 100%; }
    .gridContainerFormulario .sectionFormulario h2 {
      display: flex;
      justify-content: center;
      text-align: center; }
    .gridContainerFormulario .sectionFormulario .tituloFormulario {
      font-size: 35px;
      margin-top: 100px; }
    .gridContainerFormulario .sectionFormulario div {
      width: 500px;
      background-color: lightgray;
      padding: 30px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      border-radius: 4px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #3d3d3d; }
      .gridContainerFormulario .sectionFormulario div h4 {
        font-size: 22px;
        margin-bottom: 20px; }
      .gridContainerFormulario .sectionFormulario div .controls {
        width: 96%;
        background-color: #fdfbfb;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #0a0a0a;
        font-size: 18px; }
      .gridContainerFormulario .sectionFormulario div textarea {
        width: 100%; }
      .gridContainerFormulario .sectionFormulario div p {
        height: 40px;
        text-align: center;
        font-size: 18px; }
      .gridContainerFormulario .sectionFormulario div a {
        color: #fcfcfa;
        text-decoration: none; }
        .gridContainerFormulario .sectionFormulario div a:hover {
          color: #030303;
          text-decoration: underline; }
      .gridContainerFormulario .sectionFormulario div .buttons {
        width: 100%;
        background: #8b8b8b;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
        transition: all 1s; }
        .gridContainerFormulario .sectionFormulario div .buttons:hover {
          background: #0f0f0f; }

.head-productos {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f5edeb; }

.cuerpo {
  background-color: #f0dddd;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: 1fr;
  grid-gap: 1em;
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.titulo h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Indie Flower', cursive; }

.productos {
  max-width: 280px;
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: pointer; }
  .productos:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2); }
    .productos:hover .calificacion, .productos:hover .ubicacion {
      opacity: 1; }
  .productos > img {
    width: 100%;
    object-fit: cover; }

.informacion {
  border-top: 1px solid #e6e6e6;
  padding: 1em;
  display: flex;
  flex-flow: column; }
  .informacion * + * {
    margin-bottom: 0.5em; }
  .informacion .tipo-envio {
    background-color: #3483fa;
    color: white;
    font-weight: 600;
    max-width: max-content;
    padding: 0 0.2em;
    border-radius: 3px; }
  .informacion .precio {
    font-size: 1.5em; }
  .informacion .costo-envio {
    color: #00a650; }
  .informacion .descripcion, .informacion .ubicacion {
    font-weight: 300; }
  .informacion .costo-envio, .informacion .descripcion, .informacion .ubicacion {
    font-size: 0.9em; }
  .informacion .calificacion, .informacion .ubicacion {
    transition-duration: 0,3s;
    transition-property: opacity;
    opacity: 0; }
  .informacion .calificacion {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end; }
  .informacion .calificacion > * {
    margin: 0; }
  .informacion .tipo-envio, .informacion .calificacion {
    font-size: 0.8em; }
  .informacion .calificacion > span:first-child {
    color: #3483fa; }

footer {
  display: -webkit- flex;
  display: moz- flex;
  display: ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39; }
  footer a:hover {
    color: #fff; }

.footer > * {
  flex: 1 100%;
  grid-area: footer; }

.productoss, .noticiass, .adress {
  font-weight: 600;
  font-size: 17px; }

.footer ul {
  list-style: none;
  padding-left: 0; }

.footer li {
  line-height: 2em; }

.footer a {
  text-decoration: none; }

.footer-der {
  display: -webkit- flex;
  display: moz- flex;
  display: ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: row wrap; }

.footer-der > * {
  flex: 1 50%;
  margin-right: 1.25em; }

.box a {
  color: #9e9797; }

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px; }

.redes a {
  background-color: #364a62;
  display: inline-block;
  margin-right: 10px; }

.redes i {
  padding: 10px 12px;
  font-size: 20px; }

@media screen and (max-width: 320px) {
  .contenedor {
    display: flex;
    flex-wrap: wrap; }
  aside {
    display: none; } }

@media screen and (max-width: 400px) {
  .seccion h2 {
    text-transform: capitalize; }
  .seccion p {
    font-size: 10px; } }

@media screen and (max-width: 500px) {
  .seccion h2 {
    text-transform: capitalize; }
  .seccion p {
    font-size: 12px; } }

@media screen and (min-width: 600px) {
  .footer-der > * {
    flex: 1; }
  .footer-der {
    flex: 2 0px; } }

@media screen and (max-width: 600px) {
  /*-----noticias.html-------*/
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .titulito {
    background-color: #d6d5d5;
    display: flex;
    justify-content: center; }
  .cabecera {
    background-color: #f0e9e9;
    padding: 5px;
    height: 300px;
    width: 100%; }
  aside {
    display: none; }
  .seccion h2 {
    font-size: 15px; }
  .texto {
    padding: 30px;
    margin: 10px;
    display: block;
    font-size: 10px; }
  .estrenos {
    background-color: #fafafa;
    display: block;
    padding: auto;
    width: 100%;
    height: 650px; }
  .table {
    border: 0px; }
    .table caption {
      font-size: 22px; }
    .table thead {
      display: none; }
    .table tr {
      margin-bottom: 8px;
      border-bottom: 4px solid #ddd;
      display: block; }
    .table td {
      font-size: 12px;
      display: block;
      border-bottom: 1px solid #ddd;
      text-align: right; }
      .table td:last-child {
        border-bottom: 0px; }
      .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left; }
    .table th {
      font-size: 12px; }
  .gridContainerFormulario .sectionFormulario div {
    width: 300px; }
  .tituloFormulario {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }

@media screen and (max-width: 1000px) {
  .gridContainerFormulario .sectionFormulario div {
    width: 400px; }
  .metodos-pago {
    flex-wrap: wrap;
    height: auto; } }

footer {
  color: #fff; }
  footer a:hover {
    color: #fff; }

.table {
  background-color: #fff; }

.joggins {
  background-color: #d8d8d8; }

.hoodies {
  background-color: #d8d8d8; }

.remeras {
  background-color: #d8d8d8; }

.red-twitter {
  color: #0077ff; }

.red-facebook {
  color: #0c3286; }

.red-instagram {
  color: #e98db3; }

.redes a {
  height: 40px;
  width: 40px;
  margin: 0; }
