* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

/*-------------------------------------------------------IGUAL EN TODOS--------------------------------------*/
h1 {
  font-family: 'Kalam', cursive; }

nav img {
  border-radius: 10px; }

.bg-light {
  font-family: 'Kalam', cursive; }

.d-flex i {
  color: black;
  font-size: 20px; }
  .d-flex i:hover {
    color: #868686; }

a {
  text-decoration: none;
  color: #0f0f0f; }

.navegador {
  background-color: #cf9e9e; }
  .navegador .cambioColor {
    color: #cc2fc4; }

.foto-index {
  background-image: url(../imagenes/carrusel-1.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px; }
  .foto-index div {
    display: flex;
    justify-content: center; }
    .foto-index div h1 {
      margin-top: 400px;
      text-align: center; }

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #6a6a6a; }

.card-index {
  width: 100%;
  margin: 40px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }
  .card-index:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
  .card-index img {
    width: 100%;
    height: 100%; }
  .card-index .contenido {
    padding: 15px;
    text-align: center; }
    .card-index .contenido p {
      line-height: 1.5;
      color: #6a6a6a;
      padding: 10px; }
    .card-index .contenido a {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      margin-top: 10px;
      color: #2fb4cc;
      border: 1px solid #2fb4cc;
      border-radius: 4px;
      transition: all 400ms ease; }
      .card-index .contenido a:hover {
        background: #2fb4cc;
        color: #fff; }

.metodos-pago {
  background-color: #c4c0c0;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 50px; }
  .metodos-pago div {
    text-align: center; }
    .metodos-pago div h3 {
      display: flex;
      justify-content: center; }
    .metodos-pago div p {
      display: flex;
      justify-content: center;
      text-align: center;
      max-width: 400px; }
    .metodos-pago div i {
      font-size: 60px;
      display: flex;
      justify-content: center; }

.titulito {
  background-color: #d6d3d3;
  display: flex;
  justify-content: center; }

.cabecera {
  background-color: #ece9e9;
  padding: 15px;
  height: 400px;
  width: 100%; }
  .cabecera img {
    width: 400px;
    height: 300px; }
    .cabecera img:hover {
      transition: 0,5;
      height: 320px;
      width: 420px; }

.sorteos {
  background-color: #f0e9e9;
  width: 100%;
  height: 100px; }
  .sorteos div {
    display: flex;
    justify-content: center; }
    .sorteos div p {
      font-size: 20px;
      text-align: center; }

.fotos-sorteo {
  background-color: #f0e9e9;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around; }
  .fotos-sorteo img {
    width: 350px;
    height: 500px; }
    .fotos-sorteo img:hover {
      transition: 0,5;
      height: 520px;
      width: 420px; }

.texto {
  display: flex;
  justify-content: center; }
  .texto p {
    font-size: 20px;
    max-width: 500px; }
  .texto img {
    max-width: 500px; }

.estrenos {
  background-color: #ece9e9;
  display: block;
  width: 100%;
  height: 400px; }

.main-container {
  width: 100%;
  max-width: 1000px;
  padding-bottom: 50px;
  margin: auto;
  margin-top: -50px; }

.table {
  background-color: #fff;
  border: 1px solid #949393;
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed; }
  .table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px; }
  .table tr {
    background-color: #e6e1e1;
    border: 1px solid #9b9a9a; }
  .table th {
    font-size: 16px;
    padding: 8px;
    text-align: center; }
  .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center; }
  .table thead th {
    background-color: #c9c9c9;
    text-transform: uppercase; }
  .table tbody td:hover {
    background-color: #0000004d; }

.formulario {
  background-color: #f5dede; }

.form {
  width: 340px;
  height: 500px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw -40px);
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  position: relative; }
  .form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: gray;
    border-bottom: 3px solid black; }
  .form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "montserrat", sans-serif;
    transition: all .3s;
    border-bottom: 2px solid gray; }
    .form input:focus {
      border-bottom: 2px solid lightblue; }
  .form p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray; }
  .form button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "montserrat", sans-serif;
    border: 2px solid gray;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s; }
    .form button:hover {
      background: gray;
      color: white; }
  .form div {
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: black;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000; }
    .form div span {
      margin: 0 5px 0 15px; }

.caja {
  display: flex;
  justify-content: center; }

.cajita {
  padding-left: 30px; }

.head-productos {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f5edeb; }

.cuerpo {
  background-color: #f0dddd;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: 1fr;
  grid-gap: 1em;
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.titulo h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Indie Flower', cursive; }

.productos {
  max-width: 280px;
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: pointer; }
  .productos:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2); }
    .productos:hover .calificacion, .productos:hover .ubicacion {
      opacity: 1; }
  .productos > img {
    width: 100%;
    object-fit: cover; }

.informacion {
  border-top: 1px solid #e6e6e6;
  padding: 1em;
  display: flex;
  flex-flow: column; }
  .informacion * + * {
    margin-bottom: 0.5em; }
  .informacion .tipo-envio {
    background-color: #3483fa;
    color: white;
    font-weight: 600;
    max-width: max-content;
    padding: 0 0.2em;
    border-radius: 3px; }
  .informacion .precio {
    font-size: 1.5em; }
  .informacion .costo-envio {
    color: #00a650; }
  .informacion .descripcion, .informacion .ubicacion {
    font-weight: 300; }
  .informacion .costo-envio, .informacion .descripcion, .informacion .ubicacion {
    font-size: 0.9em; }
  .informacion .calificacion, .informacion .ubicacion {
    transition-duration: 0,3s;
    transition-property: opacity;
    opacity: 0; }
  .informacion .calificacion {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end; }
  .informacion .calificacion > * {
    margin: 0; }
  .informacion .tipo-envio, .informacion .calificacion {
    font-size: 0.8em; }
  .informacion .calificacion > span:first-child {
    color: #3483fa; }

footer {
  display: -webkit- flex;
  display: moz- flex;
  display: ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39; }
  footer a:hover {
    color: #fff; }

.footer > * {
  flex: 1 100%;
  grid-area: footer; }

.productoss, .noticiass, .adress {
  font-weight: 600;
  font-size: 17px; }

.footer ul {
  list-style: none;
  padding-left: 0; }

.footer li {
  line-height: 2em; }

.footer a {
  text-decoration: none; }

.footer-der {
  display: -webkit- flex;
  display: moz- flex;
  display: ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: row wrap; }

.footer-der > * {
  flex: 1 50%;
  margin-right: 1.25em; }

.box a {
  color: #9e9797; }

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px; }

.redes {
  display: flex;
  justify-content: space-between; }
  .redes a {
    background-color: #364a62;
    display: inline-block;
    margin-right: 10px; }
  .redes i {
    padding: 10px 12px;
    font-size: 20px; }

@media screen and (max-width: 320px) {
  .foto-index {
    width: 100%;
    height: 300px; }
    .foto-index div h1 {
      margin-top: 230px;
      font-size: 18px; }
  .contenedor {
    display: flex;
    flex-wrap: wrap; }
  aside {
    display: none; } }

@media screen and (max-width: 400px) {
  .foto-index {
    width: 100%;
    height: 300px; }
    .foto-index div h1 {
      margin-top: 230px;
      font-size: 18px; } }

@media screen and (max-width: 500px) {
  .foto-index {
    width: 100%;
    height: 300px; }
    .foto-index div h1 {
      margin-top: 230px;
      font-size: 18px; }
  .texto p {
    font-size: 15px; }
  .texto img {
    display: none; }
  .sorteos {
    padding-bottom: 200px; } }

@media screen and (min-width: 600px) {
  .footer-der > * {
    flex: 1; }
  .footer-der {
    flex: 2 0px; } }

@media screen and (max-width: 600px) {
  /*-----noticias.html-------*/
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .titulito {
    background-color: #d6d5d5;
    display: flex;
    justify-content: center; }
  .cabecera {
    background-color: #f0e9e9;
    padding: 5px;
    height: 600px;
    width: 100%;
    text-align: center; }
    .cabecera .texto img {
      display: none; }
  .sorteos {
    height: 400px; }
    .sorteos div p {
      font-size: 15px; }
  .fotos-sorteo {
    height: 800px; }
  .texto {
    padding: 30px;
    margin: 10px;
    display: block;
    font-size: 10px; }
  .estrenos {
    background-color: #fafafa;
    display: block;
    padding: auto;
    width: 100%;
    height: 650px; }
  .table {
    border: 0px; }
    .table caption {
      font-size: 22px; }
    .table thead {
      display: none; }
    .table tr {
      margin-bottom: 8px;
      border-bottom: 4px solid #ddd;
      display: block; }
    .table td {
      font-size: 12px;
      display: block;
      border-bottom: 1px solid #ddd;
      text-align: right; }
      .table td:last-child {
        border-bottom: 0px; }
      .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left; }
    .table th {
      font-size: 12px; } }

@media screen and (max-width: 700px) {
  .cabecera {
    height: 300px; }
    .cabecera .texto img {
      width: 300px;
      height: 200px; } }

@media screen and (max-width: 800px) {
  .fotos-sorteo img {
    height: 500px;
    width: 350px; } }

@media screen and (max-width: 900px) {
  .fotos-sorteo {
    height: 1200px;
    flex-wrap: wrap; }
    .fotos-sorteo img {
      width: 350px;
      height: 500px; }
      .fotos-sorteo img:hover {
        transition: 0,5;
        height: 520px;
        width: 420px; }
  .sorteos {
    height: 200px; }
    .sorteos div p {
      padding-left: 20px; }
  .estrenos {
    padding-top: 150px; } }

@media screen and (max-width: 1000px) {
  .metodos-pago {
    flex-wrap: wrap;
    height: auto; } }

@media screen and (max-width: 1300px) {
  .fotos-sorteo {
    height: 1500px; }
    .fotos-sorteo img {
      width: 350px;
      height: 500px; }
      .fotos-sorteo img:hover {
        transition: 0,5;
        height: 520px;
        width: 420px; } }

footer {
  color: #fff; }
  footer a:hover {
    color: #fff; }

.table {
  background-color: #fff; }

.joggins {
  background-color: #d8d8d8; }

.hoodies {
  background-color: #d8d8d8; }

.remeras {
  background-color: #d8d8d8; }

.red-twitter {
  color: #0077ff; }

.red-facebook {
  color: #0c3286; }

.red-instagram {
  color: #e98db3; }

.redes a {
  height: 40px;
  width: 40px;
  margin: 0; }
