* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

/*-------------------------------------------------------IGUAL EN TODOS--------------------------------------*/
h1 {
  font-family: 'Kalam', cursive; }

nav img {
  border-radius: 10px; }

.bg-light {
  font-family: 'Anton', sans-serif; }

.d-flex i {
  color: black;
  font-size: 20px; }
  .d-flex i:hover {
    color: #fff; }

a {
  text-decoration: none;
  color: #0f0f0f; }

header {
  width: 100%;
  background-color: #dad6d6;
  grid-area: header;
  grid-gap: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

main {
  width: 100%;
  padding-top: 100px;
  grid-area: main;
  grid-gap: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.cabeza {
  background-image: url("imagenes/mountains-g7954cb971_640.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center; }
  .cabeza div {
    color: #070707;
    font-family: 'Kalam', cursive;
    text-align: center; }

.contenedor {
  width: 100%;
  display: flex;
  justify-content: centergi;
  background-color: #6a6a6a; }

.card {
  width: 400px;
  margin: 40px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
  .card img {
    width: 100%;
    height: 100%; }
  .card .contenido {
    padding: 15px;
    text-align: center; }
    .card .contenido p {
      line-height: 1.5;
      color: #6a6a6a;
      padding: 10px; }
    .card .contenido a {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      margin-top: 10px;
      color: #2fb4cc;
      border: 1px solid #2fb4cc;
      border-radius: 4px;
      transition: all 400ms ease; }
      .card .contenido a:hover {
        background: #2fb4cc;
        color: #fff; }

span {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.titulito {
  background-color: #d6d3d3;
  display: flex;
  justify-content: center; }

.cabecera {
  background-color: #ece9e9;
  margin-top: -10px;
  padding: 15px;
  height: 450px;
  width: 100%; }

.seccion h2 {
  font-size: 20px;
  text-transform: uppercase; }

.seccion p {
  font-size: 15px; }

aside h2 {
  font-size: 20px;
  text-transform: uppercase; }

aside p {
  font-size: 15px; }

.estrenos {
  background-color: #ece9e9;
  display: block;
  width: 100%;
  height: 400px; }

.main-container {
  width: 100%;
  max-width: 1000px;
  padding-bottom: 50px;
  margin: auto;
  margin-top: -50px; }

.table {
  background-color: #fff;
  border: 1px solid #949393;
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed; }
  .table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px; }
  .table tr {
    background-color: #e6e1e1;
    border: 1px solid #9b9a9a; }
  .table th {
    font-size: 16px;
    padding: 8px;
    text-align: center; }
  .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center; }
  .table thead th {
    background-color: #c9c9c9;
    text-transform: uppercase; }
  .table tbody td:hover {
    background-color: #0000004d; }

.titulo h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Indie Flower', cursive; }

.hoodies {
  background-color: #d8d8d8;
  display: grid;
  grid-gap: 100px;
  grid-template-areas: "nav" "header" "main" "footer";
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px; }
  .hoodies h3 {
    max-width: 300px;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center; }
  .hoodies p {
    display: flex;
    justify-content: center;
    text-align: center; }
  .hoodies img {
    width: 300px;
    height: 400px; }

.joggins {
  background-color: #d8d8d8;
  display: grid;
  grid-gap: 100px;
  grid-template-areas: "nav" "header" "main" "footer";
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px; }
  .joggins img {
    width: 300px;
    height: 400px; }
  .joggins h3 {
    max-width: 300px;
    display: flex;
    text-align: left;
    justify-content: left; }

.remeras {
  background-color: #d8d8d8;
  display: grid;
  grid-gap: 100px;
  grid-template-areas: "nav" "header" "main" "footer";
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px; }
  .remeras img {
    width: 300px;
    height: 400px; }
  .remeras h3 {
    max-width: 300px;
    display: flex;
    text-align: left;
    justify-content: left; }

footer {
  display: -webkit- flex;
  display: moz- flex;
  display: ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39; }
  footer a:hover {
    color: #fff; }

.footer > * {
  flex: 1 100%;
  grid-area: footer; }

.productoss, .noticiass, .adress {
  font-weight: 600;
  font-size: 17px; }

.footer ul {
  list-style: none;
  padding-left: 0; }

.footer li {
  line-height: 2em; }

.footer a {
  text-decoration: none; }

.footer-der {
  display: -webkit- flex;
  display: moz- flex;
  display: ms- flex;
  display: -o- flex;
  display: flex;
  flex-flow: row wrap; }

.footer-der > * {
  flex: 1 50%;
  margin-right: 1.25em; }

.box a {
  color: #9e9797; }

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px; }

.redes a {
  background-color: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px; }

.redes i {
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px; }

@media screen and (max-width: 320px) {
  .contenedor {
    display: flex;
    flex-wrap: wrap; }
  aside {
    display: none; } }

@media screen and (max-width: 400px) {
  .seccion h2 {
    text-transform: capitalize; }
  .seccion p {
    font-size: 10px; } }

@media screen and (min-width: 600px) {
  .footer-der > * {
    flex: 1; }
  .footer-der {
    flex: 2 0px; } }

@media screen and (max-width: 600px) {
  /*--------index.html--------*/
  .cabeza {
    background-image: url("imagenes/mountains-g7954cb971_640.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center; }
  /*-----noticias.html-------*/
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .titulito {
    background-color: #d6d5d5;
    display: flex;
    justify-content: center; }
  .cabecera {
    background-color: #f0e9e9;
    padding: 5px;
    height: 300px;
    width: 100%; }
  aside {
    display: none; }
  .seccion h2 {
    font-size: 15px; }
  .texto {
    padding: 30px;
    margin: 10px;
    display: block;
    font-size: 10px; }
  .estrenos {
    background-color: #fafafa;
    display: block;
    padding: auto;
    width: 100%;
    height: 650px; }
  .table {
    border: 0px; }
    .table caption {
      font-size: 22px; }
    .table thead {
      display: none; }
    .table tr {
      margin-bottom: 8px;
      border-bottom: 4px solid #ddd;
      display: block; }
    .table td {
      font-size: 12px;
      display: block;
      border-bottom: 1px solid #ddd;
      text-align: right; }
      .table td:last-child {
        border-bottom: 0px; }
      .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left; }
    .table th {
      font-size: 12px; }
  .hoodies {
    display: grid;
    grid-template-rows: max-content;
    padding: 5px; }
    .hoodies img {
      width: 200px;
      height: 300px; }
    .hoodies h3 {
      max-width: 300px;
      display: flex;
      justify-content: right;
      text-align: left; }
  .joggins {
    display: grid;
    grid-template-rows: max-content;
    padding: 5px; }
    .joggins img {
      width: 200px;
      height: 300px; }
    .joggins h3 {
      max-width: 300px;
      display: flex;
      justify-content: left;
      text-align: left; }
  .remeras {
    display: grid;
    grid-template-rows: max-content;
    padding: 5px; }
    .remeras img {
      width: 200px;
      height: 300px; }
    .remeras h3 {
      max-width: 300px;
      display: flex;
      justify-content: left;
      text-align: left; } }

footer {
  color: #fff; }
  footer a:hover {
    color: #fff; }

.card {
  background: #fff; }
  .card:hover {
    background: #2fb4cc;
    color: #fff; }

.table {
  background-color: #fff; }

.joggins {
  background-color: #d8d8d8; }

.hoodies {
  background-color: #d8d8d8; }

.remeras {
  background-color: #d8d8d8; }
