footer {
    display: -webkit- flex;  
    display: moz- flex;
    display: ms- flex;
    display: -o- flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color:#fff;
    background-color:  #011c39 ;

    a{
        &:hover{
            color:#fff;
            }
    }
    }

  .footer > *{
    flex: 1 100%;
    grid-area: footer;
}

.productoss, .noticiass, .adress{
    font-weight: 600;
    font-size: 17px;
}

.footer{
    ul{
        list-style: none;
        padding-left: 0;
    }

    li{
        line-height: 2em;
    }

    a{
        text-decoration: none;
    }
}

.footer-der{
    display: -webkit- flex;  
    display: moz- flex;
    display: ms- flex;
    display: -o- flex;
    display: flex;
    flex-flow: row wrap;
}

  .footer-der > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box{
    a{
        color:  rgb(158, 151, 151);
    }
}

.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.redes{
    a{
        background-color: #364a62;
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-right: 10px;
    }

    i{
        color: #e7f2f4;
        padding: 10px 12px;
        font-size: 20px;
    }
}
