@import "rutas";
@import "media";

//variables


$color-2: #fff;
$color-3: #d8d8d8;

footer{
    color: $color-2;

    a{
        color: $color-2;
    }
}

.card{
    background: $color-2;
}

.hoodies{
    background-color: $color-3;
}

.joggins{
    background-color: $color-3;
}

.remeras{
    background-color: $color-3;

}