@import "rutas";
@import "productos";
@import "footer";
@import "media";



//variables

$colorUno:#fff;
$colorDos:#d8d8d8;




footer {
    color:$colorUno;

    a{
        &:hover{
            color:$colorUno;
            }
    }
    }
    
    .table{
        background-color:$colorUno;
    }


    .joggins{
        background-color: $colorDos;
    }

    .hoodies{
        background-color: $colorDos;
    }

    .remeras{
        background-color: $colorDos;
    }

    // mapas

    $redes: (
        twitter: #0077ff,
        facebook: #0c3286,
        instagram: #e98db3,
    );

    @each $red, $color in $redes {
        .red-#{$red} {
            color: $color;
        }
        
    }

    // mixin
    @mixin size ($alto, $ancho, $espaciado) {
        height:$alto;
        width:$ancho;
        margin:$espaciado;
    }

    .redes{
        a{
            @include size(40px,40px,0)
        }
    }