@import "rutas";
@import "productos";
@import "footer";
@import "media";



//variables

$colorUno:#fff;
$colorDos:#d8d8d8;




footer {
    color:$colorUno;

    a{
        &:hover{
            color:$colorUno;
            }
    }
    }

    .card{
        background:$colorUno;

        &:hover{
            background: #2fb4cc;
            color:$colorUno;
        }
    }
    
    .table{
        background-color:$colorUno;
    }


    .joggins{
        background-color: $colorDos;
    }

    .hoodies{
        background-color: $colorDos;
    }

    .remeras{
        background-color: $colorDos;
    }